<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">TAB10 - Listing Hover Image</label>
    <label lang="en">TAB10 - Listing Hover Image</label>

    <version>2.2.2</version>
    <copyright>(c) TAB10 / ENOOA s.r.o.</copyright>
    <author>TAB10 / ENOOA s.r.o.</author>
    <compatibility minVersion="5.3.0" />
</plugin>
