<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>SwagProductAdvisor</name>
            <label lang="en">Product Advisor</label>
            <label lang="de">Produktberater</label>
            <controller>Advisor</controller>
            <action>Index</action>
            <class>sprite-advisor-menu</class>
            <parent identifiedBy="controller">Marketing</parent>
        </entry>
    </entries>
</menu>