<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/Bootstrap.php"
         backupGlobals="false"
         processIsolation="true"
         backupStaticAttributes="false"
         colors="true">

    <testsuite name="SwagEmotionAdvanced Test Suite">
        <directory>tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <file>SwagEmotionAdvanced.php</file>
                <directory suffix=".php">./Bootstrap</directory>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
